version: '3.3' 

volumes: 
  postgres_data: 
  static_value: 
  media_value: 
  result_build:

services: 
  db: 
    image: postgres:12.4 
    container_name: postgresql    
    volumes: 
      - postgres_data:/var/lib/postgresql/data/ 
    restart: always 
    env_file: 
      - ./.env 
  
  frontend:
    image: tmb2508/foodgram-frontend:latest
    volumes:
      - result_build:/app/result_build/build
    depends_on:
      - db

  backend:
    image: tmb2508/foodgram:latest
    restart: always
    volumes:
      - static_value:/code/static/
      - media_value:/code/media/
    depends_on:
      - db
    env_file:
      - ./.env
  
  nginx: 
    image: nginx:1.19.3 
    restart: always 
    volumes: 
      - ./nginx.conf:/etc/nginx/conf.d/nginx.conf
      - result_build:/usr/share/nginx/html/  
      - static_value:/static 
      - media_value:/media
      - ./docs:/usr/share/nginx/html/api/docs 
    ports: 
      - 80:80
    depends_on: 
      - backend
      - frontend
      